body {
    background: #000;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}

canvas.drawing {
    mix-blend-mode: hard-light;
}

#stats {
    position: absolute;
    bottom: 0;
    right: 0;
}

#attention {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    bottom: 20px;
    font-size: 32px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 100;
    pointer-events: none;
    transition: transform 0.75s;
    transform: translate(0, 60px);
}
#attention.show {
    transform: translate(0, 0px);
}